<a href="https://colab.research.google.com/github/AbhiramBalakrishnaBhat/python-basics/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x=(input("Enter the travel Source"))
y=(input("Enter the travel Destination"))
z=int(input("Number of passengers"))
print(x,y,z)

Enter the travel Source KERALA
Enter the travel Destination TAMILNADU
Number of passengers 400
 KERALA  TAMILNADU 400

In [16]:
x=int(input("total amount of ticket"))
y=int(input("total number of passengers"))
totalamount = print(x/y)

total amount of ticket 100
total number of passengers  20
5.0

In [18]:
t=int(input("total ticket fare"))
if t>10000:
  print("eligible")
else:
  print("not eligible")

total ticket fare 100000
eligible

In [31]:
int(input("Total TIcket Fare "))
if x>15000:
  print("Eligible for 20% discount")
else:
  print("Eligible for 10% discount")

Total TIcket Fare  10000
Eligible for 10% discount

In [36]:
x=int(input("Total TIcket Fare "))
if x>15000:
  print("Eligible for 20% discount")
  print(x*20/100)
else:
  print("Eligible for 10% discount")
  print(x*10/100)

Total TIcket Fare  10000
Eligible for 10% discount
1000.0

In [29]:
int(input("Enter A Number "))
if x%2==0:
  print("The Number is Even")
elif x%2!=0:
  print("The Number is Odd")
else:
  print("Number is Zero")

Enter A Number  1000
The Number is Even

In [38]:
int(input("Age of Passenger "))
if x>18:
  print("Adult")
elif x>12 and x<18:
  print("Teenager")
elif x>5 and x<11:
  print("Kid")
else:
  print("Infant")

Age of Passenger  17
Adult

In [44]:
x=input("Passengers Initial ")
if x=="a":
  print("Vowel")
elif x=="e":
  print("Vowel")
elif x=="i":
  print("Vowel")
elif x=="o":
  print("Vowel")
elif x=="u":
  print("Vowel")
else:
  print("Not Vowel")

Passengers Initial a
Vowel

In [53]:
n=("Abhiram Bhat")
for a in n:
  print(a)

A
b
h
i
r
a
m

B
h
a
t

In [54]:
for i in range(45,89,2):
  print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87