<a href="https://colab.research.google.com/github/AbhiramBalakrishnaBhat/python-basics/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter the number to display the corresponding multiples"))
for i in range(1,11):
  print(i*num)

enter the number to display the corresponding multiples 2
2
4
6
8
10
12
14
16
18
20

In [ ]:
num=int(input("enter the number to display the corresponding multiples"))
for i in range(1,11):
  print(i,"*",num,"=",i*num)

enter the number to display the corresponding multiples 2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [ ]:
num=int(input())
i=1
while(i<=10):
  print(i,"*",num,"=",i*num)
  i=i+1

4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

In [18]:
num=input("enter the number")
d=0
for i in num:
  #print(i)
  d=d+1
print(d)

enter the number400
3

In [19]:
import statistics 
math=int(input('Maths mark'))
eng=int(input("English marks"))
eco=int(input("Economics marks"))
bs=int(input('Business studies marks'))
mal=int(input('Malayalam marks'))
x=(math,eng,eco,bs,mal)
z=min(x)
print("Least marks",z)
y=max(x)
print("Maximum marks",y)
k=statistics.mean(x)
print('Average',k)

Maths mark 80
English marks 85
Economics marks 90
Business studies marks 98
Malayalam marks 85
Least marks 80
Maximum marks 98
Average 87.6